<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{page_title}}</title>
    </head>
    <body>
        <style>
            html {
                font-family: sans-serif;
            }

            .grid {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 480px;
            }

            .cell {
                flex: 1;
            }

            .btn {

            }

            #form:not(.active) {
                display: none;
            }

        
        </style>

        <form id="form" class="grid">
            <div class="cell">
                <label class="input-label">Username</label>
                <input class="input" type="text">
            </div>
            <div class="cell">
                <label class="input-label">Password</label>
                <input class="input" type="password">
            </div>
            <div class="cell">
                <button class="btn" type="button">Login</button>
            </div>
        </form>

        <div id="message"></div>


        <script src="/client.js"></script>
        <script>
            client.initialize('worker.js');
        </script>
    </body>
</html>